<div class="container">
  <%= simple_form_for(@review, local: true ,url: choose_new_or_edit_to_confirm ) do |form| %>
    <h3>フォーム</h3>
    <%= form.input :title, label: "タイトル", placeholder: "30文字以内" %>
    <%= form.input :review, label: "レビュー", placeholder: "5000文字以内" , input_html: { rows: 15 }%>
    <%= image_tag(@review.review_image.url) if @review.review_image.url %>
    <%= form.file_field :review_image %>
    <%= form.button :submit, "投稿する", :class => "btn-primary" %>
  <% end %>
</div>