<div class="container">
<h2>ユーザー編集 </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :name%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name",:class=>"form-control"  %>
  </div>
  
  <div class="field">
    <%= f.label :プロフィール%><br />
    <%= f.text_field :profile, autofocus: true,:class=>"form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :プロフィール画像%><br />
    <%= f.file_field :profile_image, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:class=>"form-control"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(パスワードを変更しない場合、空白)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",:class=>"form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><i>(パスワードを変更しない場合、空白)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(ユーザー情報を変更する場合、入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password",:class=>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する",:class=>"btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>

<h3>アカウントを削除</h3>

<p><%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,:class=>"btn btn-secondary btn-lg btn-block"%></p>

</div>
